
body{

  width: 100%;
  box-sizing: border-box;
}
.body1 {
  display: flex;
  background-color: #F3F4F6; /* #F3F4F6 */
  width: 100%;
  color: black;
  height:100%;

}
.wid{
  width: 100% !important;
}
/* table{
  width: 1645px !important;
} */
